{% if home %}
  {% set latest = collections.posts[collections.posts.length - 1].data %}
  {% set title = latest.title %}
  {% set date = latest.date %}
  {% set maxWidth = latest.maxWidth %}
  {% set caption = latest.caption %}
  {% set image = latest.image %}
  {% set alt = latest.alt %}
  {% set imageTitle = latest.imageTitle %}
  {% set originalUrl = latest.page.url %}
{% endif %}
{% set base = site.fullUrl if isBuild else "" %}
{% include 'layouts/head.njk' %}
<div class="wrapper">
  <header>
    <div class="caption" id="meta">
      <h1>{{ title }}</h1>
      {% if date %}
      <time datetime="{{ date | w3cDateFilter }}">
        {{ date | dateFilter }}
      </time>
      {% endif %}
    </div>
  </header>
  <main>
    <figure>
      {% for image in images %}
      <a href="{{ base }}{% if image.larger %}{{ image.larger }}{% else %}{{ image.src }}{% endif %}">
        <img {% if image.maxWidth %}style="max-width: {{ image.maxWidth }}px;" {% endif %}src="{{ base }}{{ image.src }}" title="{{ image.title }}" alt="{{ image.alt }} (press to enlarge)" loading="lazy">
      </a>
      {% endfor %}
      {% if caption %}
      <figcaption>{{ caption }}</figcaption>
      {% endif %}
    </figure>
  </main>
  {% include 'layouts/nav.njk' %}
</div>
{% include 'layouts/foot.njk' %}
